[Desktop Entry]
Type=Application
Name=BP Photos
GenericName=Photo Preset Browser
Comment=Try Lightroom presets and LUTs on a photo, then export
Exec=bp_photos %f
Icon=bp_photos
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Photography;
Keywords=photo;preset;lightroom;lut;raw;heic;edit;
StartupWMClass=bp_photos
MimeType=image/jpeg;image/png;image/tiff;image/webp;image/heic;image/heif;image/avif;image/x-canon-cr2;image/x-canon-cr3;image/x-canon-crw;image/x-nikon-nef;image/x-nikon-nrw;image/x-sony-arw;image/x-sony-srf;image/x-sony-sr2;image/x-fuji-raf;image/x-olympus-orf;image/x-panasonic-rw2;image/x-pentax-pef;image/x-adobe-dng;image/x-samsung-srw;image/x-hasselblad-3fr;image/x-phaseone-iiq;image/x-epson-erf;
